<div class="entry">
	<div class="header">
		<header class="title">
			<h1>{{title}}</h1>
		</header>
	</div>
	<div class="visible-phone row-fluid topbar">
		<div class="blurb">{{blurb}}</div>
		{{#if view.renderLinks}}
			<dl class="urls">
			{{#if url}}
				<dt>url</dt>
				<dd><a {{bindAttr href=url}} target="_blank">{{cleanLink url}}</a></dd>
			{{/if}}
			{{#if github}}
				<dt>github</dt>
				<dd><a {{bindAttr href=github}} target="_blank">{{cleanLink github}}</a></dd>
			{{/if}}
			</dl>
		{{/if}}
	</div>
	<div class="row-fluid">
		<div class="content span9">
		  <div class="post">{{markdown post}}</div>
		</div>
		<div class="sidebar span3 hidden-phone">
			<ul class="details">
				<li>
					<div class="details-header">Summary</div>
					{{blurb}}
				</li>
			{{#if view.renderLinks}}
				<li class="url">
					<div class="details-header">Links</div>
					{{#if url}}
						<a {{bindAttr href=url}} target="_blank">{{cleanLink url}}</a>
					{{/if}}
					{{#if github}}
						<a {{bindAttr href=github}} target="_blank">{{cleanLink github}}</a>
					{{/if}}
				</li>
			{{/if}}
			{{#if tags}}
				<li>
					<div class="details-header">Tags</div> 
					<div class="tags">
						<ul>
							{{#each tag in tags}}
								<li class="tag">{{tag}}</li>
							{{/each}}
						</ul>
					</div>
				</li>
			{{/if}}
			</ul>
		</div>
	</div>
	<div class="visible-phone row-fluid bottombar">
		<div class="tags">
			<ul>
				{{#each tag in tags}}
					<li class="tag">{{tag}}</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="footer"></div>
</div>